@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Overpass:wght@400;600;800&display=swap');
@import './header.css';
@import './hero.css';
@import './block.css';
@import './electro.css';
@import './trust.css';
@import './contacts.css';
@import './footer.css';
@import './nav.css';
@import './prod_slider.css';
@import './trans-1-slider';
*{
    margin: 0;
    padding: 0;
  
}

*, *:after, *:before { 
	box-sizing: border-box; 
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

li{
    list-style: none;
}

body{
    overflow-x: hidden;
}


.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
 
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: 0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #527c82;
    height: 300px;
    width: 300px;
    border-radius: 50px;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 1em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
     
html{
    scroll-behavior: smooth;
}

.trans__content{
    display: flex;
    margin-top: 80px;
    margin-bottom: 60px;
    gap: 100px;
}

.trans__img{
    overflow: hidden;
    max-width: 350px;
    max-height: 350px;
}

.electro__product{
    padding-bottom: 50px;
}

.trans__image{
    width: 100%;
    height: 100%;
}



.trans__text{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
    
}
.trans__information{
    max-width: 50%;
}

.trans__title{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 41px;
    color: #222222;
}

.trans__suptitle{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 41px;
    color: #222222;
}

.trans__descr{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #222222;
}



.header1{
    position: relative;
    height: 100vh;
    width: 100%;
}
.sec-1-title{
    position: absolute;
    left: calc(216 / 1600 * 100vw);
    top: calc(260 / 1600 * 100vw);
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}
.slick-track{
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.slick-list{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
}
.slider{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.button-1{
    z-index: 10;
    background-color: #B71D41;
    border: none;
    border-radius: 50%;
    padding: calc(48 / 1600 * 100vw) calc(25 / 1600 * 100vw);
    color: #fff;
    font-size: calc(24 / 1600 * 100vw);
}
.modal-window-closed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.modal-window{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    position: fixed;
    z-index: 999999;
    width: 25%;
    top: 10%;
    left: 34%;
}
#contact-form{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    overflow-x: unset;
}
.modal-window-input{
    margin-top: 20px;
    height: 20px;
    width: 100%;
    padding: 17px 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: block;
}
.modal-window-input-2{
    height: 80px;
    margin-top: 20px;
    resize: none;
    width: 100%;
    padding: 17px 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.modal-window-h2{
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    color: #000000;
}
.modal-button{
    margin-top: 20px;
    background-color: #B71D41;
    border-radius: 12px;
    border: none;
    padding: 7px 47px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}
.slider .slick-arrow.slick-prev{
    left: 0;
}

.sec-1-title-h1{
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: calc(58 / 1600 * 100vw);

}
.sec-1-title-p{
    color: #fff;
    font-size: calc(36 / 1600 * 100vw);
}
.slider .slick-arrow.slick-next{
    right: 0;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    position: relative;
}
.flex{
    display: flex;
}
.sec-1-title{
    z-index: 10;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #fff;
}
.slider-item{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .sec-1-title{
        grid-template-columns: 100%;
        justify-items: center;
    }
    .button-1{
        margin-top: 30px;
        padding: calc(48 / 744 * 100vw) calc(25 / 744 * 100vw);
        font-size: calc(24 / 744 * 100vw);
    }
    .sec-1-title-h1{
        font-size: calc(40 / 744 * 100vw);
    
    }
    .sec-1-title-p{
        font-size: calc(32 / 744 * 100vw);
    }
    .trans__img{
        width: 300px;
        height: 300px;
    }
    .trans__content{
        flex-direction: column;
        padding-left: 200px;
    }

    .trans__information{
        width: 100%;
    }
    .categories__content{
        flex-direction: column;
    }

    .hover-text-one{
        width: 100% !important;
    }
}

@media (max-width: 430px) {
    .trans__img{
        width: 300px;
        height: 300px;
    }
    .trans__content{
        flex-direction: column;
        padding-left: 100px;
        width: 100%;
    }

    .trans__title{
        font-weight: 400;
        font-style: bold;
        font-size: large;
    }
    .trans__text{
        display: flex;
        flex-direction: column;
    }

    .sec-1-title{
        grid-template-columns: 100%;
        justify-items: center;
        top: calc(600 / 1600 * 100vw);
    }
    .button-1{
        margin-top: 50px;
        padding: calc(26 / 320 * 100vw) calc(9 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    .sec-1-title-h1{
        font-size: calc(26 / 320 * 100vw);
    
    }
    .sec-1-title-p{
        font-size: calc(22 / 320 * 100vw);
    }
    .categories__content{
        margin-top: 200px;
        flex-direction: column;
    }
}